src/conf/xml-resources/web-service-references/SimplestBlog/wsdl/localhost_8080/webServiceBlog/SimplestBlog.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://simplestblog/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://simplestblog/" name="SimplestBlog">
<types>
<xsd:schema>
<xsd:import namespace="http://simplestblog/" schemaLocation="http://localhost:8080/webServiceBlog/SimplestBlog?xsd=1"/>
</xsd:schema>
</types>
<message name="search">
<part name="parameters" element="tns:search"/>
</message>
<message name="searchResponse">
<part name="parameters" element="tns:searchResponse"/>
</message>
<message name="IOException">
<part name="fault" element="tns:IOException"/>
</message>
<message name="JSONException">
<part name="fault" element="tns:JSONException"/>
</message>
<message name="getData">
<part name="parameters" element="tns:getData"/>
</message>
<message name="getDataResponse">
<part name="parameters" element="tns:getDataResponse"/>
</message>
<message name="MalformedURLException">
<part name="fault" element="tns:MalformedURLException"/>
</message>
<message name="addUser">
<part name="parameters" element="tns:addUser"/>
</message>
<message name="addUserResponse">
<part name="parameters" element="tns:addUserResponse"/>
</message>
<message name="listUser">
<part name="parameters" element="tns:listUser"/>
</message>
<message name="listUserResponse">
<part name="parameters" element="tns:listUserResponse"/>
</message>
<message name="addComment">
<part name="parameters" element="tns:addComment"/>
</message>
<message name="addCommentResponse">
<part name="parameters" element="tns:addCommentResponse"/>
</message>
<message name="listPost">
<part name="parameters" element="tns:listPost"/>
</message>
<message name="listPostResponse">
<part name="parameters" element="tns:listPostResponse"/>
</message>
<message name="addPost">
<part name="parameters" element="tns:addPost"/>
</message>
<message name="addPostResponse">
<part name="parameters" element="tns:addPostResponse"/>
</message>
<message name="deleteUser">
<part name="parameters" element="tns:deleteUser"/>
</message>
<message name="deleteUserResponse">
<part name="parameters" element="tns:deleteUserResponse"/>
</message>
<message name="listComment">
<part name="parameters" element="tns:listComment"/>
</message>
<message name="listCommentResponse">
<part name="parameters" element="tns:listCommentResponse"/>
</message>
<message name="editPost">
<part name="parameters" element="tns:editPost"/>
</message>
<message name="editPostResponse">
<part name="parameters" element="tns:editPostResponse"/>
</message>
<message name="editUser">
<part name="parameters" element="tns:editUser"/>
</message>
<message name="editUserResponse">
<part name="parameters" element="tns:editUserResponse"/>
</message>
<message name="publishPost">
<part name="parameters" element="tns:publishPost"/>
</message>
<message name="publishPostResponse">
<part name="parameters" element="tns:publishPostResponse"/>
</message>
<message name="softDelete">
<part name="parameters" element="tns:softDelete"/>
</message>
<message name="softDeleteResponse">
<part name="parameters" element="tns:softDeleteResponse"/>
</message>
<portType name="SimplestBlog">
<operation name="search">
<input wsam:Action="http://simplestblog/SimplestBlog/searchRequest" message="tns:search"/>
<output wsam:Action="http://simplestblog/SimplestBlog/searchResponse" message="tns:searchResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://simplestblog/SimplestBlog/search/Fault/IOException"/>
<fault message="tns:JSONException" name="JSONException" wsam:Action="http://simplestblog/SimplestBlog/search/Fault/JSONException"/>
</operation>
<operation name="getData">
<input wsam:Action="http://simplestblog/SimplestBlog/getDataRequest" message="tns:getData"/>
<output wsam:Action="http://simplestblog/SimplestBlog/getDataResponse" message="tns:getDataResponse"/>
<fault message="tns:MalformedURLException" name="MalformedURLException" wsam:Action="http://simplestblog/SimplestBlog/getData/Fault/MalformedURLException"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://simplestblog/SimplestBlog/getData/Fault/IOException"/>
</operation>
<operation name="addUser">
<input wsam:Action="http://simplestblog/SimplestBlog/addUserRequest" message="tns:addUser"/>
<output wsam:Action="http://simplestblog/SimplestBlog/addUserResponse" message="tns:addUserResponse"/>
</operation>
<operation name="listUser">
<input wsam:Action="http://simplestblog/SimplestBlog/listUserRequest" message="tns:listUser"/>
<output wsam:Action="http://simplestblog/SimplestBlog/listUserResponse" message="tns:listUserResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://simplestblog/SimplestBlog/listUser/Fault/IOException"/>
<fault message="tns:JSONException" name="JSONException" wsam:Action="http://simplestblog/SimplestBlog/listUser/Fault/JSONException"/>
</operation>
<operation name="addComment">
<input wsam:Action="http://simplestblog/SimplestBlog/addCommentRequest" message="tns:addComment"/>
<output wsam:Action="http://simplestblog/SimplestBlog/addCommentResponse" message="tns:addCommentResponse"/>
</operation>
<operation name="listPost">
<input wsam:Action="http://simplestblog/SimplestBlog/listPostRequest" message="tns:listPost"/>
<output wsam:Action="http://simplestblog/SimplestBlog/listPostResponse" message="tns:listPostResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://simplestblog/SimplestBlog/listPost/Fault/IOException"/>
<fault message="tns:JSONException" name="JSONException" wsam:Action="http://simplestblog/SimplestBlog/listPost/Fault/JSONException"/>
</operation>
<operation name="addPost">
<input wsam:Action="http://simplestblog/SimplestBlog/addPostRequest" message="tns:addPost"/>
<output wsam:Action="http://simplestblog/SimplestBlog/addPostResponse" message="tns:addPostResponse"/>
</operation>
<operation name="deleteUser">
<input wsam:Action="http://simplestblog/SimplestBlog/deleteUserRequest" message="tns:deleteUser"/>
<output wsam:Action="http://simplestblog/SimplestBlog/deleteUserResponse" message="tns:deleteUserResponse"/>
</operation>
<operation name="listComment">
<input wsam:Action="http://simplestblog/SimplestBlog/listCommentRequest" message="tns:listComment"/>
<output wsam:Action="http://simplestblog/SimplestBlog/listCommentResponse" message="tns:listCommentResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://simplestblog/SimplestBlog/listComment/Fault/IOException"/>
<fault message="tns:JSONException" name="JSONException" wsam:Action="http://simplestblog/SimplestBlog/listComment/Fault/JSONException"/>
</operation>
<operation name="editPost">
<input wsam:Action="http://simplestblog/SimplestBlog/editPostRequest" message="tns:editPost"/>
<output wsam:Action="http://simplestblog/SimplestBlog/editPostResponse" message="tns:editPostResponse"/>
</operation>
<operation name="editUser">
<input wsam:Action="http://simplestblog/SimplestBlog/editUserRequest" message="tns:editUser"/>
<output wsam:Action="http://simplestblog/SimplestBlog/editUserResponse" message="tns:editUserResponse"/>
</operation>
<operation name="publishPost">
<input wsam:Action="http://simplestblog/SimplestBlog/publishPostRequest" message="tns:publishPost"/>
<output wsam:Action="http://simplestblog/SimplestBlog/publishPostResponse" message="tns:publishPostResponse"/>
</operation>
<operation name="softDelete">
<input wsam:Action="http://simplestblog/SimplestBlog/softDeleteRequest" message="tns:softDelete"/>
<output wsam:Action="http://simplestblog/SimplestBlog/softDeleteResponse" message="tns:softDeleteResponse"/>
</operation>
</portType>
<binding name="SimplestBlogPortBinding" type="tns:SimplestBlog">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="search">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
<fault name="JSONException">
<soap:fault name="JSONException" use="literal"/>
</fault>
</operation>
<operation name="getData">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="MalformedURLException">
<soap:fault name="MalformedURLException" use="literal"/>
</fault>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
</operation>
<operation name="addUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
<fault name="JSONException">
<soap:fault name="JSONException" use="literal"/>
</fault>
</operation>
<operation name="addComment">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listPost">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
<fault name="JSONException">
<soap:fault name="JSONException" use="literal"/>
</fault>
</operation>
<operation name="addPost">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listComment">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
<fault name="JSONException">
<soap:fault name="JSONException" use="literal"/>
</fault>
</operation>
<operation name="editPost">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="publishPost">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="softDelete">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="SimplestBlog">
<port name="SimplestBlogPort" binding="tns:SimplestBlogPortBinding">
<soap:address location="http://localhost:8080/webServiceBlog/SimplestBlog"/>
</port>
</service>
</definitions>